// SCREEN SIZES
$window-1296: 1196px;
$window-1000: 1000px;
$window-880: 880px;
$window-815: 815px;
$window-805: 805px;
$window-780:780px;
$window-659: 659px;
$window-648: 648px;
$window-620: 620px;
$window-570: 570px;
$window-560: 560px;
$window-530: 530px;
$window-500: 500px;
$window-438: 438px;
$window-331: 331px;

//TRANSITIONS
$ms2-ease: 0.2s ease-in-out;

//MAX WIDTHS
$max-w-1: 1000px;
$max-w-11: 1100px;
$max-w-2: 1200px;
$max-w-3: 1300px;
$max-w-4: 1400px;
$max-w-480: 1480px;
$max-w-5: 1500px;
